@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
body {
  margin: 0;
  padding: 0;
}

.inactive {
  display: none;
}

.navbar {
  background-color: #ebe6e4;
  height: 100px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: "logo-chui menu-icon";
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
}
.navbar .navbar-top {
  position: absolute;
  top: 99px;
  background-color: #ebe6e4;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.navbar .navbar-top ul {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.navbar .navbar-top li {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid;
}
.navbar .navbar-top li:hover {
  color: white;
  cursor: pointer;
}
.navbar .facebook-icon, .navbar .instagram-icon {
  display: none;
}
.navbar .logo-chuii {
  grid-area: logo-chui;
}
.navbar .logo-chuii img {
  width: 100px;
  height: 100px;
}
.navbar .menu-icon {
  margin-right: 10px;
  grid-area: menu-icon;
  cursor: pointer;
}

.inactive {
  display: none;
}

/* Banner */
.banner {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

/*Sabores*/
.sabores {
  margin-top: 55px;
  text-align: center;
}
.sabores h2 {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.galeria-sabores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria-sabores .text-center {
  margin: 36px;
  width: 200px;
  height: 200px;
}
.galeria-sabores .text-center .rounded {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px #ebe6e4;
}
.galeria-sabores .text-center h3 {
  margin: 12px;
  color: grey;
  font-family: "Montserrat", sans-serif;
}
.galeria-sabores .arrow-left, .galeria-sabores .arrow-right {
  display: none;
}

/* Instagram */
.instagram {
  margin-top: 55px;
  text-align: center;
}
.instagram h2 {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

/* Novedades */
.contacto-novedades {
  margin-top: 55px;
  text-align: center;
}
.contacto-novedades h2 {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

/* Footer */
.footer {
  background-color: #ebe6e4;
}
.footer .derechos-autor {
  padding: 48px 0 0 0;
}
.footer .navbar-footer {
  display: flex;
  justify-content: center;
}
.footer .navbar-footer ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .navbar-footer li {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid;
}
.footer .navbar-footer li:hover {
  color: white;
  cursor: pointer;
}
.footer .redes {
  text-align: center;
  padding: 24px;
}
.footer .redes .instagram-icon, .footer .redes .facebook-icon {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */