@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
body {
  margin: 0;
  padding: 0;
}

.inactive {
  display: none;
}

.navbar {
  background-color: #ebe6e4;
  height: 100px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: "logo-chui menu-icon";
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
}
.navbar .navbar-top {
  position: absolute;
  top: 99px;
  background-color: #ebe6e4;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.navbar .navbar-top ul {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navbar .navbar-top li {
  margin-top: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.navbar .navbar-top li:hover {
  cursor: pointer;
}
.navbar .navbar-top li:after {
  display: block;
  content: "";
  border-bottom: solid 3px grey;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar .navbar-top li:hover:after {
  transform: scaleX(1);
}
.navbar .navbar-top li a {
  text-decoration: none;
  color: grey;
}
.navbar .facebook-icon, .navbar .instagram-icon {
  display: none;
}
.navbar .logo-chuii {
  grid-area: logo-chui;
}
.navbar .logo-chuii img {
  width: 100px;
  height: 100px;
}
.navbar .menu-icon {
  margin-right: 10px;
  grid-area: menu-icon;
  cursor: pointer;
}

.inactive {
  display: none;
}

/* Banner */
.banner {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

/*Sabores*/
.sabores {
  margin-top: 55px;
  text-align: center;
}
.sabores h2 {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.galeria-sabores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria-sabores .text-center {
  margin: 36px;
  width: 200px;
  height: 200px;
}
.galeria-sabores .text-center .rounded {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px #ebe6e4;
}
.galeria-sabores .text-center h3 {
  margin: 12px;
  color: grey;
  font-family: "Montserrat", sans-serif;
}
.galeria-sabores .arrow-left, .galeria-sabores .arrow-right {
  display: none;
}

/* Instagram */
.instagram {
  margin-top: 55px;
  text-align: center;
}
.instagram h2 {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

/* Novedades */
.contacto-novedades {
  margin-top: 55px;
  text-align: center;
}
.contacto-novedades h2 {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

/* Footer */
.footer {
  background-color: #ebe6e4;
}
.footer .derechos-autor {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .derechos-autor .logo-chuii {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.footer .navbar-footer {
  display: flex;
  justify-content: center;
}
.footer .navbar-footer ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.footer .navbar-footer li {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.footer .navbar-footer li:hover {
  cursor: pointer;
}
.footer .navbar-footer li:after {
  display: block;
  content: "";
  border-bottom: solid 3px grey;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.footer .navbar-footer li:hover:after {
  transform: scaleX(1);
}
.footer .navbar-footer li a {
  text-decoration: none;
  color: grey;
}
.footer .redes {
  text-align: center;
  padding: 24px;
}
.footer .redes .instagram-icon, .footer .redes .facebook-icon {
  width: 24px;
  height: 24px;
}

/* Contactos */
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto h1 {
  margin: 24px;
  font-family: "Montserrat", sans-serif;
}
.contacto p {
  width: 80%;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.contacto .ImagenContacto {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.formulario {
  width: 100%;
  height: auto;
}
.formulario .form-container {
  margin: 32px;
}
.formulario .form-container .form-control {
  margin-bottom: 24px;
}
.formulario .form-container .submit {
  background-color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.formulario .form-container .submit:hover {
  background-color: lightgrey;
}/*# sourceMappingURL=style.css.map */