@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import "vars";

body{
    margin: 0;
    padding: 0;
}
.inactive{
    transform: translateX(100vw);
}

// Ver como hacer el negro de fondo cuando aparece la navbar.
/*.blackout{
    display: block;
    top: 99px;
    background-color: black;
    width: 100vw;
    height: 500vw;
    
}*/


.navbar{
    background-color: $chui-grey;
    height: 100px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-areas: "logo-chui menu-icon";
    align-items: center;
    text-align: center;
    box-shadow: $box-shadow-navbar;
    padding: 0 12px;
        .navbar-top{
            display: none;
        }
        .navbar-top-mobile{
            transition: .9s ease-in-out all;
            position: absolute;
            top: 99px;
            background-color: #ebe6e4;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            ul{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style: none;
                padding: 0;
            }
            li{
                margin-top: 45px;
                font-family: $gral-font;
                font-weight: 300;
                &:hover{
                    cursor: pointer;
                }
                &:after {
                    display:block;
                    content: '';
                    border-bottom: solid 3px $chui-lightblue;  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                  }
                &:hover:after { transform: scaleX(1); }
                a {
                    text-decoration: none;
                    color: grey;
                }
            }
            .redes-navbar-mobile {
                a{
                    text-decoration: none;
                }
                img{
                margin: 32px 5px;
                width: 24px;
                height: 24px;
            }}
        }

        
        .redes-navbar {
           display: none;
        }
        
        .logo-chuii{
            grid-area: logo-chui;
            img{
                width: 100px;
                height: 100px;
            }
        }
        
        .menu-icon{
            margin-right: 10px;
            grid-area: menu-icon;
            cursor: pointer;
        }
        
}

/* Banner */

.banner {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}


/*Sabores*/

.sabores{
    margin-top: 55px;
    text-align: center;
    h2{
        color: grey;
        font-family: $gral-font;
        font-size: 22px;
      
    }
}

.galeria-sabores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-center{
        margin: 36px;
        width: 200px;
        height: 200px;
        .rounded{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: solid 1px $chui-grey;
            opacity: 0;
            transform: translateX(100px);
            transition: .7s ease-in-out all;
        }
        .visible {
            opacity: 1;
            transform: translateX(0);
        }
        h3{
            margin: 12px;
            color: grey;
            font-family: $gral-font;
        }    
    }
    .arrow-left, .arrow-right{
        display: none;
    }
}

/* Instagram */

.seccion-instagram{
    margin-top: 55px;
    text-align: center;
    h2{
        color: grey;
        font-family: $gral-font;
        font-size: 22px;
    }       
    .seccion-instagram_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h4{ 
            margin: 0;
        }
    } 
    img{
        width: 28px;
    }
}

.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
    margin: 24px 0;
  }
  .post {
    cursor: pointer;
    position: relative;
    display: block;
  }
  .post-image {
    margin: 0;
  }
  .post-image img {
    width: 100%;
    vertical-align: top;
  }
  .post-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  .post:hover .post-overlay{
              display: flex;
  }
  
  .post-like,
  .post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
  
  @media screen and (max-width: 768px) {
    .post-list {
      grid-gap: 3px;
    }
  }

  

/* Novedades */
.contacto-novedades{
    margin-top: 55px;
    text-align: center;
    h2{
        color: grey;
        font-family: $gral-font;
        font-size: 22px;
    }        
}
/* Footer */

.footer{
    background-color: $chui-grey;
    .derechos-autor{
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo-chuii{
            width: 100px;
            height: 100px;
            margin-bottom: 5px;
        }
    }
    .navbar-footer{
        display: flex;
        justify-content: center;
        ul{
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        li{
            margin-top: 30px;
            font-family: $gral-font;
            font-weight: 300;
            &:hover{
                cursor: pointer;
            }
            &:after {
                display:block;
                content: '';
                border-bottom: solid 3px $chui-lightblue;  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
              }
            &:hover:after { transform: scaleX(1); }
            a {
                text-decoration: none;
                color: grey;
            }
        }
    }
    .redes{
        text-align: center;
        padding: 24px;
        .instagram-icon, .facebook-icon{
            width: 24px;
            height: 24px;
        }
        a{
            text-decoration: none;
        }
    }
    
}

/* Locales */

.mapaGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    iframe{
        width: 80%;
        
    }
    
}



/* Contactos */
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        margin: 48px;
        font-family: $gral-font;
    }
    p{
        width: 50%;
        margin-bottom: 24px;
        font-family: $gral-font;
        text-align: center;
    }
    .ImagenContacto{
        margin: 32px;
        width: 50%;
        height: auto;
    }
}


.formulario{
    width: 100%;
    height: auto;
    .form-container{
        margin: 32px;
        .form-control{
            margin-bottom: 24px;
        }
        .submit {
            background-color: white;
            transition-property: background-color;
            transition-duration: 0.5s;
            &:hover {
                background-color: #43c7e7;
             }
        }
    }
    
    
}

// Abri tu local

.fraseAbriTuLocal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        margin: 48px;
        font-family: $gral-font;
    }
    p{
        width: 50%;
        margin-bottom: 24px;
        font-family: $gral-font;
        text-align: center;
    }
    .ImagenAbriTuLocal{
        margin: 32px;
        width: 50%;
        height: auto;
    }
}





@import 'mediaQuerys';